@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: rgb(126, 137, 231);
    --color-primary-trans: rgb(230, 230, 248);
    --color-text-primary: #333;
    --color-text-secondary: #666;
    --color-bg: rgb(247, 247, 247);
    --color-metamask: #f4851e;
    --color-metamask-trans: #d39254;
}

:root.dark {
    --color-primary: #5f67cf;
    --color-primary-trans: rgb(230, 230, 248);
    --color-text-primary: #f5f5f5;
    --color-text-secondary: #c2c2c2;
    --color-bg: #1f2937;
    --color-metamask: #f4851e;
    --color-metamask-trans: #d39254;
}

#root {
    @apply flex flex-col h-screen;
}

#root > .scrollbar__wrapper > .scrollbar__scroller {
    @apply bg-bg transition-colors;

    height: calc(100vh - 4rem);
}

body {
    @apply h-full overflow-hidden;
}

.button {
    @apply flex justify-center items-center px-[16px] py-[10px] rounded-[4px] bg-primary hover:bg-opacity-80 text-white whitespace-nowrap transition-colors;
}

.button.error {
    @apply bg-red-400;
}

.button.metamask {
    @apply bg-metamask;
}

button:disabled {
    @apply opacity-70 cursor-not-allowed;
}

.contain-strict {
    contain: size layout paint style;
}

.contain-content {
    contain: layout paint style;
}


.not-transition-border-color {
    transition-property: color, background-color, text-decoration-color, fill, stroke;
}

.scrollbar__thumb {
    @apply bg-primary opacity-40;
}